.social{ itemscope: true, itemtype: "http://schema.org/Person" }
  %ul.animated{ "data-animation"=>"fadeIn", "data-animation-delay"=>"600"}
    / social icons
    %li
      = link_to("https://www.facebook.com/andrea.olivieri1991", class: "ukie-icons hover-animate", itemprop: :sameAs) do
        %i.fa.fa-facebook
    %li
      = link_to("https://twitter.com/OliAndrea17", class: "ukie-icons hover-animate", itemprop: :sameAs) do
        %i.fa.fa-twitter
    %li
      = link_to("http://it.linkedin.com/pub/andrea-olivieri/65/228/8a2", class: "ukie-icons hover-animate", itemprop: :sameAs) do
        %i.fa.fa-linkedin
    %li
      = link_to("https://github.com/AndreaOlivieri", class: "ukie-icons hover-animate", itemprop: :sameAs) do
        %i.fa.fa-github-alt
    %li
      = link_to("skype:andrea.olivieri17?call", class: "ukie-icons hover-animate") do
        %i.fa.fa-skype