- provide(:title, t(:Profile))
- provide(:page_class, 'profile_page')
/ Start Head section
%header.head
  / start container
  .container
    / start row
    .row
      .col-xs-8.col-sm-11.col-lg-11
        = image_tag "profile_l.png", class:"logo-page", alt: t(:About_Me)
        / Title Page
        %h2.title= t(:Profile)
      .col-xs-4.col-sm-1.col-lg-1.text-right
        = link_to "", root_path, class: "btn-close hover-animate"
/ Start Content section
%section.content.border-bottom.padding-block{ itemscope: true, itemtype: "http://schema.org/Person" }
  / start container
  %div.container
    / start row
    .row
      .col-xs-12.col-sm-12.col-lg-7
        %h3.title= t(:Let_Me_Introduce_Myself)
        %p= t(:Hello_everyone_I_m_Andrea_24_years_old_and_graduated_in, age: @age)
        %h3.title= t(:My_Story)
        %p= t(:Since_I_was_a_little_boy_I_feel_a)
      .col-xs-12.col-sm-12.col-lg-5
        .block-grey
          %table
            %tr
              %td.font-weight-m= t(:Name)
              %td.text-right{ itemprop: :name } Andrea Olivieri
            %tr
              %td.font-weight-m= t(:Age)
              %td.text-right= t(:n_age, age: @age)
            %tr
              %td.font-weight-m= t(:Date_of_birth)
              %td.text-right{ itemprop: :birthDate }= t(:June_1991)
            %tr
              %td.font-weight-m= t(:Hometown)
              %td.text-right{ itemprop: :birthPlace }= t(:Rome_Italy)
            %tr
              %td.font-weight-m= t(:Height)
              %td.text-right{ itemprop: :height }= t(:n_meters, n: '1.70')
            %tr
              %td.font-weight-m= t(:Grade)
              %td.text-right= t(:Bachelor_in_Computer_Engineering)
        .block-image
          = image_tag "andrea_laurea.png"